doctype

html(lang='en')
  head
    title tryg::Debug errors (#{self.errors.length})

    style(type='text/css').
      body { font-size: 14px; }
      .kdb  { font-family: Verdana; font-weight: normal; font-size: 14px; }
      .kdb_error { background-color: #f75d5d; color: #fff; margin: 0.5em; overflow: hidden; border: 0.1em solid #f75d5d; }
      .kdb_toggle { position: relative; background-color: #f9b3b3; width: 1.1em; padding: 0.5em; margin: 0.5em; float: right; height: 1.1em; }
      .kdb_toggle > .arrow { 
        position: absolute; 
        width 0; 
        height 0; 
        top: 0.7em; 
        left: 0.3em; 
        border-left: 0.75em solid transparent; 
        border-right: 0.75em solid transparent;
        border-top: 0.75em solid #f75d5d;
        transition: 0.2s transform ease-in-out;
      }

      .kdb_toggle > .arrow.down { transform: rotate(0deg); }
      .kdb_toggle > .arrow.up { transform: rotate(180deg); }
      .kdb_header { cursor: pointer; }
      .kdb_type { float: left; width: 110px; text-align: center; background-color: #f9b3b3; padding: 1em 0.5em; color: #f75d5d; font-weight: bold; }
      .kdb_name { padding: 1em; margin-left: 120px; }
      .kdb_body { transition: max-height 0.2s; -webkit-transition: max-height 0.2s; } 
      .kdb_body.off { max-height: 0em; }
      .kdb_body.on { max-height: 34em; }
      .kdb_file { font-size: 14px; float: right; padding: 0.4em; border: 1px solid white; margin-top: 0.5em; width: 300px; }
      .kdb_lines { background-color: #fff; color: #666; margin: 0 0.5em 0.5em 0.5em; clear: both; }
      .kdb_num { float: left; width: 20px; height: 15px; text-align: right; padding: 0.5em; border-right: 1px solid #ccc; }
      .kdb_codefont { font-family: "Lucida Console", Monaco, monospace; }
      .kdb_code { margin-left: 30px; border-bottom: 1px solid #ccc; padding: 0.5em; }
      .kdb_body.off .kdb_highlight .kdb_code { background-color: #fff; }
      .kdb_body.on .kdb_highlight .kdb_code { background-color: #fffa79; }
      .kdb_code { transition: background-color 0.2s linear 0.2s; -webkit-transition: background-color 0.2s linear 0.2s; }
      .kdb_bottom { height: 0.3em; }

  body.kdb

    .kdb_errors
      for error, i in self.errors
        .kdb_error
          .kdb_header
            .kdb_toggle
              .arrow.down
            if error.file
              input.kdb_file(type='text',value='vi '+error.file.replace(self.path, '') + ' +' +error.line)
            .kdb_type #{error.type}
            .kdb_name !{error.error}
          .kdb_body.off
            .kdb_lines
              for line, j in error.code
                .kdb_line(class= ( j == error.line ? 'kdb_highlight': ''))
                  .kdb_num #{j}
                  .kdb_code.kdb_codefont &nbsp;!{line}
            .kdb_bottom

  script(type='text/javascript').

    function kdb_toggle(e) {

      if (e.target.classList.contains('kdb_file')) {
        return true;
      }

      var body = e.currentTarget.nextSibling.nextSibling;
      var par = body.parentNode;
      arrow = par.children[0].children[0].children[0];

      arrow.classList.toggle('down');
      arrow.classList.toggle('up');

      body.classList.toggle('off');
      body.classList.toggle('on');

    }

    function kdb_copy(e) {
      var t = e.target;
      if (t.target !== undefined) {
        t.setSelectionRange(0, t.value.length);
      }
    }

    var headers = document.getElementsByClassName("kdb_header");

    for (var i = 0; i < headers.length; i++) {
      headers[i].addEventListener('click', kdb_toggle, false);
    }

    var inputs = document.getElementsByClassName("kdb_file");
    for (var i = 0; i < inputs.length; i++) {
      headers[i].addEventListener('click', kdb_copy, false);
    }

